// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-blue: #181846;
$light-blue: #2D3769;
$blue-sky-dark: #a2afe0;
$blue-sky-light: #E4E8FF;
$white-broke: #FFFAF5;

$dark-beige:#CFBC9D;
$light-beige:#ECE9E4;
$black:#000000;

$green-light: #6fdc8c; // Light green color
$green-dark: #28a745; // Dark green color
$green-shadow: rgba(3, 240, 94, 0.88); // Green shadow color


