// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-blue: #181846;
$light-blue: #2D3769;
$blue-sky-dark: #C4CDEE;
$blue-sky-light: #E4E8FF;
$white-broke: #FFFAF5;
