.container .look-details {
  width: 100%; /* Full width on mobile */
}

@media (max-width: 768px) { /* Example media query for mobile devices */
  .container .look-details .row .col-md-3 {
    width: 75%; /* Full width for each column on small screens */
    margin-bottom: 15px; /* Add some space between items */
  }
}

.thumbnail {
  display: flex;
  justify-content: center;
  width: 60px;

  &.hidden {
    display: none;
  }
}

.thumbnail > img {
  width: 80%;
}
.full_page_image {
  position: absolute;
  left: 0;
  height: calc(100vh - 90px);
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matching-pieces {
  display: flex;
  justify-content: center;
  text-align: center;
}

.piece-swipe-card {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 200px;
}

.piece-swipe-card > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 15px;
}

.image-display {
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
 }
}

.explore-swiper {
  // padding-bottom: 16px;
}

.details-image {
  display: flex;
  justify-content: space-between;
  img {
    object-fit: cover;
    border-radius: 16px;
  }
}

.selected-piece {
  // border: $dark-beige 5px solid;
  box-shadow: 5px 3px 3px $dark-beige;
  border-radius: 16px;
  margin: 10px;
}

.div.position-absolute {
  background-color: #ECE9E4;
}

// .swiper-wrapper-explore {
//   // overflow-x: auto;
//   // gap: 1rem;
// }

// .swiper-wrapper-explore::-webkit-scrollbar {
//   width: 0px;
// }

.swiper-button-explore {
  color: $dark-beige;
}
