// Specific CSS for your home-page

h1 {
  color: $dark-blue;
  font-size: 48px;
}

h2 {
  color: $dark-blue;
  font-size: 28px;
}

p {
  color: $dark-blue;
  font-size: 16px;
}

i {
  // color: $dark-blue
}

i:hover {
  // color: $dark-blue
}

.fa-solid {
  font-size: x-large;
  text-decoration: none;
  // color: $blue-sky-dark
}

.fa-solid:hover {
  // color: $dark-blue;
}

.img-replikka {
  height: 130px;
  padding: 10px;
}

#span-home{
  vertical-align: middle;
  color: $dark-blue;
  font-size: 48px;
  padding: 70px;
}

.btn-flat {
  color: $white-broke;
  padding: 8px 24px;
  border-radius: 4px;
  background: $light-blue;
  transition: $blue-sky-dark 0.3s ease;
}
