.pieces-list {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-gap: 1rem;
}

input[type=submit] {
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form {
  display: inline-table;
  padding: 10px;
}
