.pieces-list {
  display: grid;
  // grid-template-columns: repeat(2 , 1fr);
  // grid-gap: 1rem;
}

input[type=submit] {
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.fa-plus {
  background-size: 20px;
  color:rgb(76, 74, 74);
  border: solid 1px grey;
  border-radius: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  padding-left: 3px;
  position: relative;
  top: -33px;
  left: 295px;
}

form {
  display: inline-table;
  padding: 10px;
}
