.pieces-list {
  // display: grid;
  // grid-template-columns:
  padding: 12px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
}

.fa-plus {
  background-size: 20px;
  color:$dark-blue;
  border: solid 1.5px $dark-blue;
  border-radius: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  padding-left: 3px;
  position: relative;
  top: -92px;
  left: 315px;
}

form {
  display: inline-table;
}

.background-list {
  background-color: $light-beige;
  cursor: pointer;
  // margin-bottom: 13px;
  // border-radius: 10px;
}

.piece-count {
  color: $dark-beige !important;
  font-size: 16px;
  font-style: italic;
}

.worn-count {
  color: $dark-beige !important;
  font-size: 16px;
}

.button-generate {
  display: inline-block;
  background-color: $white-broke;
  border-radius: 50%; /* Makes the button circular */
  text-align: center;
  width: 40px; /* Width of the circle */
  height: 40px; /* Height of the circle */
  line-height: 40px; /* Centers the text vertically */
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 20px; /* Size of the letter */
  color: $dark-blue; /* Color of the letter */
  text-decoration: none; /* Removes underline from link */
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem $dark-beige;
}

#query::placeholder {
  // color: grey;
  opacity: 60%;
}
