<%#= cl_image_tag outfit.photo.key %>
<%# check if outfit has a photo or if need to get photo from look associated with outfit with multiples joining tables %>

<p>Outfit # <%= @outfit.id %></p>
<%# will be USED TO REWATCH PAST OUTFITS, NOT EXPLORE AND CREATE ONE %>
<%# @pieces.each do |piece|%>
  <%#= cl_image_tag piece.photo.key, class: "thumbnail-bordered" %>
<%# end %>
