
<div class="container">
  <div class= "thumbnail">
    <%= cl_image_tag @look.photo.key %>
  </div>
  <div class="row">
    <p>Here are your pieces to match this look</p>
    <% @potential_pieces.each do |piece| %>
      <div class="col-md-3 mb-4">
        <div class="card-trip justify-content-center">
          <%= cl_image_tag piece.photo.key %>
        </div>
      <%#= link_to "Delete", delete_path(piece), class: "btn btn-outline-danger", data: { turbo_method: :patch } %>
      <%#= link_to "Add as favorite", favorite_path(piece), class: "btn btn-outline-info", data: { turbo_method: :patch } %>
      </div>
    <% end %>
    <%#= link_to look_outfit_index_path(@outfit), data: { turbo_method: :patch } %>
  </div>
  <div>
  <%#= form_for(@outfit) do |f| %>
    <%# <div class="field"> %>
      <%#= f.label :key %>
      <%#= f.text.select hash[:key] %>
    </div>

    <%# <div class="actions"> %>
      <%#= f.submit %>
    </div>
  <%# end %>
  </div>
</div>
