here are your favorites
<%# <div class="container"> %>
  <%# <h2>Your favorites</h2> %>
    <%# <div class="row"> %>
            <%# @favorites.each do |favorite| %>
                <%#= cl_image_tag favorite.look.photo.key %>
                <%# <div class="button-display"> %>
                  <%#= link_to favorite_path(look), data: { turbo_method: :patch }  do %>
                    <%# <i class="fa-regular fa-bookmark"></i> %>
                  <%# end %>
                  <%#= link_to "explore", outfit_path(look.outfits.sample) %>
                  <%#= link_to "explore", root_path %>
                <%# </div> %>
    <%# </div> %>
            <%# </div> %>
          <%# end %>
        <%# </div> %>
<%# </div> %>
