<div class="pieces-list-item justify-content-center"
    style="background-color:white;border-radius: 5px;text-align: center;">
  <label for="piece<%= piece.id %>">
    <%= cl_image_tag piece.photo.key %>
    <h6><%= piece.name %></h6>
  </label>
</div>
