<div class="background-list">
  <div class="pieces-list-item"
      style="background-color:white;text-align: center;">
      <div class="w-100 d-flex piece-item">
        <div class="d-flex align-items-center justify-content-around" style="min-width:60px;">
          <%= cl_image_tag piece.photo.key %>
        </div>
        <div class="flex-grow-1 align-items-center justify-content-around" style="text-align:left;padding-left:10px;">
          <%= piece.name %>
          <div class="worn-count"> <i class="fa-regular fa-calendar-check"></i>  <%= piece.worn_stat %></div>
        </div>
        <div class="d-flex align-items-center justify-content-around" style="min-width:40px; flex-direction: column;">
          <%= link_to today_path(piece: piece.id), class: "nav-link middle-icon button-generate", data: { turbo_method: :get } do %>
            R
          <% end %>
        </div>
      </div>
  </div>
</div>
