<div class="pieces-list">
  <% if pieces.any? %>
    <% pieces.each do |piece| %>
      <%= render 'piece', piece: piece %>
    <% end %>
  <% else %>
    <em> Sorry, no pieces found. </em>
  <% end %>
</div>
