<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-sm-12 my-3" data-controller='searchbar' data-action="keyup->searchbar#search">
      <%= form_with url: generate_path,
                    class: 'w-100',
                    data: { "searchbar-target": "input" },
                    method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control text-center icon",
              style: "font-size: 20px;background-color:white;border-radius: 20px;border:0px",
              placeholder: "Search for a piece"
          %>
        <i class="fa-regular fa-plus" ></i>
      <% end %>
    </div>
    <% if @query %>
      <%= render 'searched_pieces', pieces: @pieces %>
    <% else %>
      <%= render 'grouped_pieces', grouped_pieces: @grouped_pieces %>
    <% end %>
  </div>
</div>
