<div class="container">
  <div class="row justify-content-center mb-5" data-controller="searchbar">
    <div class="grid-today tab-underlined active" >
      <h2>Closet</h2>
    </div>
    <div class="col-sm-12 mt-3" data-action="keyup->searchbar#search">
      <%= form_with url: generate_path,
                    class: 'w-100 search-bar',
                    data: { "searchbar-target": "input" },
                    method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control text-center icon",
              style: "font-size: 20px;background-color:white;border-radius: 20px;border:0px",
              placeholder: "Explore your closet"
          %>
        <i class="fa-regular fa-plus" ></i>
      <% end %>
    </div>
    <%= render "pieces-result", query: @query, pieces: @pieces, grouped_pieces: @grouped_pieces %>
  </div>
</div>
