<div>
  <div class= "row" style="text-align: center;">
    <div id="span-home">
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/LetterR.svg/800px-LetterR.svg.png", class: "img-replikka"%>
      <span>Replikkate your look !</span>
    </div>
      <div id="div-button">
        <%= link_to "Today's Look", today_path, class: "btn btn-flat"%>
      </div>
  </div>
</div>
