
<div class="container">
  <div  class="row">
    <div class="d-flex align-items-center">
      <h4 class="p-1 font-weight-bold"> <%= @pieces.count %></h4><h6>  pieces</h6>
    </div>
  </div>
  <div class="row">
    <% @pieces.each do |piece| %>
    <div class="col-md-3 mb-4">
    <div class="card-trip justify-content-center">
        <%= cl_image_tag piece.photo.key %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
