<div class="container">
  <h2>Your 3 look inspo for today</h2>
  <div class="row">
    <% @looks.each do |look| %>
      <div class="col-md-3 mb-4">
        <div class="card-trip justify-content-center">
          <%= cl_image_tag look.photo.key %>
        </div>
      <%= link_to "", reject_path(look), data: { turbo_method: :patch }, class: "fa-solid fa-xmark" %>
      <%= link_to "", favorite_path(look), data: { turbo_method: :patch }, class:"fa-regular fa-bookmark" %>
      </div>
    <% end %>
  </div>
</div>
