
<div class="container mt-2">
  <div class="title-meteo">
    <h2>Today's look inspo</h2>
    <div class="col-sm-8" data-controller='openweather'>
      <div class="card">
        <div class="meteo-card">
          <p> <span data-openweather-target='city'></span>
            <img src="" data-openweather-target='icon'>
            <span data-openweather-target='temp'></span>°C
            <span data-openweather-target='description'></span>
          </p>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="swiper" data-controller="swiper">
        <div class="swiper-wrapper replikka-swiper">
          <% @looks.each do |look| %>
            <div class="swiper-slide">
              <div class="card-trip justify-content-center">
                <%= link_to explore_look_path(look), class: 'link-to-show-outfit' do %>
                  <%= cl_image_tag look.photo.key %>
                <% end %>
                <div class="button-display">
                  <%= link_to reject_path(look), data: { turbo_method: :patch } do %>
                    <i class= "fa-solid fa-xmark"></i>
                  <% end %>
                  <%= link_to favorite_path(look), data: { turbo_method: :patch }  do %>
                    <i class="fa-regular fa-bookmark"></i>
                  <% end %>
                  <%#= link_to "explore", outfit_path(look.outfits.sample) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
