.button-save {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4rem;
  > input[type=submit] {
    background-color: $darker-beige;
    color: $white-broke;
  }
}

input[type=submit] {
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
