.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  padding: 15px;
}

.active > i {
  color: $dark-blue; /* Change to your preferred active color */
}

.img-logo {
  height: 23px;
}
