.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.active > i {
  color: $darker-beige;
}


.img-logo {
  height: 23px;
}

.navbar {
display: flex;
justify-content: space-around;
align-items: center;
position: fixed;
bottom: 0;
width: 100%;
padding: 0;
border-radius: 20px 20px 0 0;
z-index: 2;
}

.lateral-navbar {
  background-color: $white;
  z-index: 2;
}

.navbar a {
text-align: center;
padding: 12px;
text-decoration: none;
color: $white-broke;
font-size: 17px;
}

.navbar a.navbar-icon {
  color: $beige;
  padding: 20px;
  border: 0px;
}

.navbar a.middle-icon {
  background-color: $white-broke;
  color: $dark-blue;
  padding: 20px;
  border-radius: 50%;
  border: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-30%);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  font-size: 30px;
}

a.nav-link.middle-icon.active {
  background-color: $white-broke;
  color: $darker-beige;
  // font-weight: lighter;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
