.pieces-list-item {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;

  img {
    height: 150px;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.pieces-list-item-no-shadow {
  border-radius: 5px;
  text-align: center;

  img {
    height: 150px;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.full-width {
  width: 100vw !important;
  transition: all 10s ease;
}
