.pieces-list-item {
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  // border-bottom: $light-gray 1px solid;
  margin-inline: 30px;

  img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: center;
  }
}

.piece-item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.background-list {
  background-color: white;
  padding-inline: 10px;
}

.button-piece {
  justify-content: end;
}

.fa-pen::before {
  font-size: large;
}

.fa-layer-group::before {
  font-size: large;
}
