.pieces-list-item {
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  border-bottom: $blue-sky-dark 1px solid;
  margin-inline: 30px;

  img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
}

.piece-item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.background-list {
  background-color: white;
  padding-inline: 10px;
}

.button-piece {
  justify-content: end;
}
