// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.main-content {
  height: 100vh;
  padding-bottom: 68px;
  overflow-y: auto;
  overflow-x: hidden;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}

.text-blue-dark {
  color: $dark-blue;
}

.text-blue-sky-dark {
  color: $blue-sky-dark;
}

body {
  background-image: asset-url('background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
